* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212529;
}
i.fa-brands.fa-linkedin.fa-xl,
i.fa-brands.fa-square-github.fa-xl,
i.fa-solid.fa-user-lock.fa-xl {
  color: #fff;
}

i.fa-brands.fa-linkedin.fa-xl:hover {
  color: #0d6efd;
}

i.fa-brands.fa-square-github.fa-xl:hover {
  color: #6610f2;
}

i.fa-solid.fa-user-lock.fa-xl:hover {
  color: #198754;
}

.banner {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url("../img/code3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
